[client]
host     	= localhost
user     	= admin

[mysqld_safe]
nice		= 0

[mysqld]
user		= mysql
basedir		= /usr
tmpdir		= /tmp

skip-external-locking
skip-slave-start
skip-name-resolve

max_allowed_packet	= 100M
thread_stack		= 128K

wait_timeout		= 200
interactive_timeout	= 300
max_connect_errors	= 10000
slave_net_timeout	= 5

max_binlog_size		= 104857600
binlog_format       = MIXED

innodb_file_per_table
innodb_flush_method = O_DIRECT

back_log			= 512

[mysqldump]
quick
quote-names
max_allowed_packet	= 100M

[isamchk]
key_buffer			= 16M

[mysql]
no-auto-rehash		# faster start of mysql but no tab completition
