[Unit]
Description=nginx web-server
After=network.target

[Service]
LimitNOFILE=256000
ExecStartPre=/usr/local/bin/simple-irq-balance.pl
ExecStartPre=/usr/local/bin/generate-nginx-opts.sh
ExecStartPre=/usr/local/bin/pre-nginx.sh
ExecStartPre=/usr/local/sbin/nginx -t
#EnvironmentFile=-/etc/default/nginx
#ExecStart=/usr/local/sbin/nginx ${DAEMON_OPTS}
ExecStart=/usr/local/sbin/nginx
ExecReload=/bin/kill -HUP $MAINPID
GuessMainPID=no
PIDFile=/var/run/nginx.pid
Type=simple

[Install]
WantedBy=multi-user.target
Alias=nginx.service
